@font-face {
    font-family: 'iconfont';  /* Project id 2703949 */
    src: url('//at.alicdn.com/t/font_2703949_gmjkt344iiq.eot?t=1647928609478'); /* IE9 */
    src: url('//at.alicdn.com/t/font_2703949_gmjkt344iiq.eot?t=1647928609478#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('//at.alicdn.com/t/font_2703949_gmjkt344iiq.woff2?t=1647928609478') format('woff2'),
    url('//at.alicdn.com/t/font_2703949_gmjkt344iiq.woff?t=1647928609478') format('woff'),
    url('//at.alicdn.com/t/font_2703949_gmjkt344iiq.ttf?t=1647928609478') format('truetype'),
    url('//at.alicdn.com/t/font_2703949_gmjkt344iiq.svg?t=1647928609478#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ziliaozhongxin_20_moren:before {
  content: "\e733";
}

.icon-zengjia:before {
  content: "\e675";
}

.icon-daohang_zhankai_hui_16:before {
  content: "\e644";
}

.icon-daohang_shouqi_hui_16:before {
  content: "\e643";
}

.icon-hudonggongkaikezhongxin_20_hui:before {
  content: "\e640";
}

.icon-rizhiguanli_20_hui:before {
  content: "\e63f";
}

.icon-xueshuhuiyizhongxin_20_hui:before {
  content: "\e63d";
}

.icon-ziyuanzhongxin_20_hui1:before {
  content: "\e672";
}

.icon-binglizhengjiguanli_20_hui:before {
  content: "\e652";
}

.icon-dianyuanpeixunzhongxin_20_hui:before {
  content: "\e653";
}

.icon-caiwuzhongxin_20_hui:before {
  content: "\e654";
}

.icon-daohangzhongxin_20_hui:before {
  content: "\e655";
}

.icon-gongnengzhongxin_20_hui:before {
  content: "\e657";
}

.icon-jichuxinxizhongxin_20_hui:before {
  content: "\e658";
}

.icon-qiantaiyonghuzhongxin_20_hui:before {
  content: "\e659";
}

.icon-kongzhongketangzhongxin_20_hui:before {
  content: "\e65a";
}

.icon-neirongguanli_20_hui:before {
  content: "\e65b";
}

.icon-houtaiyonghuzhongxin_20_bai:before {
  content: "\e65c";
}

.icon-shenhezhongxin_20_hui:before {
  content: "\e65d";
}

.icon-shouye_20_hui:before {
  content: "\e65e";
}

.icon-huodongzhongxin_20_hui:before {
  content: "\e65f";
}

.icon-hudongketangzhongxin_20_hui:before {
  content: "\e660";
}

.icon-renwuzhongxin_20_hui:before {
  content: "\e661";
}

.icon-huanzheguanli_20_hui:before {
  content: "\e662";
}

.icon-shangchengguanli_20_hui:before {
  content: "\e663";
}

.icon-luzhizhongxin_20_hui:before {
  content: "\e664";
}

.icon-wenzhangzhongxin_20_hui:before {
  content: "\e665";
}

.icon-shangchengzhongxin_20_hui:before {
  content: "\e666";
}

.icon-xianshanggongkaikezhongxin_20_hui:before {
  content: "\e667";
}

.icon-yishengguanli_20_hui:before {
  content: "\e668";
}

.icon-yishengliebiao_20_hui:before {
  content: "\e669";
}

.icon-weixinpingtaiguanli_20_hui:before {
  content: "\e66a";
}

.icon-xitongyonghuguanli_20_hui:before {
  content: "\e66b";
}

.icon-zijinzhongxin_20_hui:before {
  content: "\e66c";
}

.icon-yiyuanguanli_20_hui:before {
  content: "\e66d";
}

.icon-yibizhongxin_20_hui:before {
  content: "\e66e";
}

.icon-ziyuanzhongxin_20_hui:before {
  content: "\e66f";
}

.icon-youqinglianjie_20_hui:before {
  content: "\e670";
}

.icon-tongjizhongxin_20_hui:before {
  content: "\e671";
}

.icon-iconfonticon-xiaofa:before {
  content: "\e640";
}

.icon-usercenter:before {
  content: "\e634";
}

.icon-auto:before {
  content: "\e6eb";
}

.icon-courseware_upload:before {
    content: "\e752";
}

